/**
 * DispensaryCoupons admin CSS
 *
 * @package     DispensaryCoupons\CSS
 * @since       1.0.0
 */


/* Leafly Specials admin
-------------------------------------------------------------- */

div.widget[id*=_wpdcoupons_] .widget-top,
div.widget[id*=_wpdcoupons_] .widget-top:hover {
	border-color: #d44729;
}

div.widget[id*=_wpdcoupons_] .widget-title,
div.widget[id*=_wpdcoupons_] .widget-title h3 {
	background: #d44729;
	color: #FFF;
}

div.widget[id*=_wpdcoupons_] .widget-title .in-widget-title {
	color: rgba(255,255,255,0.6);
}

div.widget[id*=_wpdcoupons_] .widget-action {
	color: #FFF;
}

/** Metabox - Coupon Details */

#wpd_coupons .inside {
    overflow: auto;
}

#wpd_coupons .inside .pricebox {
	float: left;
	position: relative;
	width: 100%;
}

#postbox-container-2 #wpd_coupons .inside .wpd-coupons-box {
	float: left;
	margin: 10px 1%;
	position: relative;
	width: 23%;
}