/**
 * DispensaryCoupons CSS
 *
 * @package     DispensaryCoupons\CSS
 * @since       1.0.0
 */


/* Dispensary Coupons widget
-------------------------------------------------------------- */

.wpd-coupons-plugin-meta {
	border: 2px dashed #eee;
	display: inline-block;
	margin: 0 0 12px 0;
	padding: 12px;
	position: relative;
	width: 100%;
}

.wpd-coupons-plugin-meta h3,
.wpd-coupons-plugin-meta p {
	margin: 6px 0 !important;
	padding: 0 !important;
}

.wpd-coupons-plugin-meta-item.title strong {
	display: block;
}

.wpd-coupons-plugin-meta-item.fineprint {
	color: #ccc;
}

.wpd-coupons-plugin-meta img {
	margin: 6px 0;
}

.wpd-coupons-plugin-meta.shortcode img {
	float: right;
	margin: 6px 0 6px 12px;
}

.wpd-coupons-plugin-meta.shortcode img.emoji {
    float: none;
	margin: 0;
}

@media screen and (max-width: 768px) {
	td.wpd-coupons span {
		display: block;
	}
}

/** Widget items */

.wpd-coupons-widget .wpd-coupons-plugin-meta {
    text-align: center;
}

span.wpd-coupons-plugin-meta-item {
	display: block;
	margin-bottom: 6px;
}

/** Widget item title */

span.wpd-coupons-plugin-meta-item.title {
    font-size: 18px;
}

/** Widget item code */

span.wpd-coupons-plugin-meta-item.code {
	color: #454545;
    font-weight: 700;
    margin-right: 5px;
}

span.wpd-coupons-plugin-meta-item.code svg {
	fill: #76BD43;
}

/** Widget item amount */

span.wpd-coupons-plugin-meta-item.amount {
    color: #76BD43;
}

/** Widget item expiration date */

span.wpd-coupons-plugin-meta-item.exp {
	font-size: 13px;
}

/** Shortcode styles */

.wpd-coupons-plugin-meta-item.code-exp {
	position: relative;
	float: right;
}

.wpd-coupons-plugin-meta-item.code-exp .code {
    background: #eee;
	padding: 10px;
	margin-right: 0;
}

.wpd-coupons-plugin-meta-item.code-exp .exp {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}