/**
 * DispensaryCoupons CSS
 *
 * @package     DispensaryCoupons\CSS
 * @since       1.0.0
 */


/* Dispensary Coupons widget
-------------------------------------------------------------- */

.wpd-coupons-plugin-meta {
	border: 2px dashed #eee;
	display: inline-block;
	margin: 0 0 12px 0;
	padding: 6px 12px;
	position: relative;
	width: 100%;
}

.wpd-coupons-plugin-meta h3,
.wpd-coupons-plugin-meta p {
	margin: 6px 0 !important;
	padding: 0 !important;
}

.wpd-coupons-plugin-meta-item.fineprint {
	color: #ccc;
}

.wpd-coupons-plugin-meta img {
	margin: 6px 0;
}

.wpd-coupons-plugin-meta.shortcode img {
	float: right;
	margin: 6px 0 6px 12px;
}
